*{
    /* margin: 0px;
    padding: 0px;
    list-style: none; */
    font: 18px Consolas;
}
body{
    background: #ccc;
}
#theForm{
    background: #fff;
    width: 290px;
    border: 1px solid #bbb;
    border-radius: 10px;
    padding: 10px;
    margin: 50px;
}
label{
    width: 70px;
    float: left;
}
#theForm div{
    margin: 10px 0px;
}
/* label,input[type="submit"]{
    text-transform: capitalize;
} */
label,#submit{
    text-transform: capitalize;
}
#feedback{
    /* border: 1px dashed #ddd; */
    width: 250px;
    color: maroon;
    font-size: 14px;
}
p{
    font-size: 12px;
    color: steelblue;
}